/*

Login styles

*/

.login-container,
.aside-login-container,
.main-login-container {
  display: flex;
  flex: 1;
}

/*

Main styles

*/
.main-container,
.main-aside-container,
.main-section-container {
  display: flex;
  flex: 1;
}
